# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
#.env

# Vector store & processed data
data/processed/
*.faiss
*.pkl

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
